html
{
    background-color: white;
}
body
{
    width: 750px;
    height: 750px;
    background-color: yellow;
    margin: auto;
    border: 10px solid black;
}
header
{
    width: 750px;
    height: 250px;
    border-bottom: 10px solid black;
}
.banner
{
    width: 500px;
    height: 250px;
    background-color: #AFEEEE;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo
{
    width: 250px;
    height: 250px;
    background-color: #E0FFFF;;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rectangulo1
{
    width: 470px;
    height: 200px;
    background-color: white;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rectangulo11
{
    width: 220px;
    height: 200px;
    background-color: white;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav
{
    width: 750px;
    height: 50px;
    background-color: #ADFF2F;
    float: left;
    border-bottom: 10px solid black;
}
.article
{
    width: 450px;
    height: 400px;
    background-color: #FFA500;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aside
{
    width: 300px;
    height: 400px;
    background-color: #FFA500;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rectangulo2
{
    width: 400px;
    height: 375px;
    background-color: white;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rectangulo21
{
    width: 220px;
    height: 375px;
    background-color: white;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer
{
    width: 750px;
    height: 50px;
    background-color: #FFD700;
    float: left;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
}